<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="li.songe.gkd">

    <application>

        <service
            android:name="com.google.android.accessibility.selecttospeak.SelectToSpeakService"
            android:exported="false"
            android:label="gkd"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/ab_desc" />
        </service>
    </application>
</manifest>